@use "./_radient";

.cloud {
  @include radient.cloud();
}

.hamburger {
  @include radient.menu();
}

.apps {
  @include radient.apps();
}

.blaj {
  display: flex;
  justify-content: center;
  align-items: center;

  // compensate for container dimensions, create function to recalulate %-units to the original container.
  &::after {
    content: "";
    display: block;
    width: 40%;
    height: 40%;
    background-color: red;
    box-sizing: border-box;
    @include radient.apps();
  }
}

.wifi {
  @include radient.wifi();
}

.contactless {
  @include radient.contactless();
}

.pie {
  @include radient.pie();
}

.pie-periphery {
  @include radient.pie-periphery();
}

.face {
  @include radient.face();
}

.done {
  @include radient.done();
}

.chevron-down {
  @include radient.chevron-down();
}

.chevron-up {
  @include radient.chevron-up();
}

.chevron-right {
  @include radient.chevron-right();
}

.chevron-left {
  @include radient.chevron-left();
}

.arrow-up {
  @include radient.arrow-up();
}

.arrow-down {
  @include radient.arrow-down();
}
.arrow-right {
  @include radient.arrow-right();
}

.arrow-left {
  @include radient.arrow-left();
}

.ball {
  @include radient.ball();
}

.barcode {
  @include radient.barcode();
}

.bar-chart {
  @include radient.bar-chart();
}

.logo {
  @include radient.logo();
}

.logo-outer {
  @include radient.logo-outer();
}

.search {
  @include radient.search();
}

.trash {
  @include radient.trash();
}

.add {
  @include radient.add();
}

.add-circle {
  @include radient.add-circle();
}

.remove {
  @include radient.remove();
}

.remove-circle {
  @include radient.remove-circle();
}

.info {
  @include radient.info();
}

.info-circle {
  @include radient.info-circle();
}

.battery-empty {
  @include radient.battery-empty();
}

.battery-full {
  @include radient.battery-full();
}

.battery-1 {
  @include radient.battery-1();
}
.battery-2 {
  @include radient.battery-2();
}
.battery-3 {
  @include radient.battery-3();
}
.battery-4 {
  @include radient.battery-4();
}
.battery-5 {
  @include radient.battery-5();
}
.battery-6 {
  @include radient.battery-6();
}
